@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Off-white);
}

.container {
    width: 450px;
    max-width: 750px;
    margin: auto;
    background-color: var(--White);
    padding: 2rem;
    border-radius: 20px 20px 100px 20px;
    box-sizing: border-box;
}

.date {
    width: 100%;
}

.info {
    text-transform: uppercase;
    font-size: .5rem;
    letter-spacing: .1rem;
    color: var(--Smokey-grey);
}

.dados {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dados input {
    width: 5rem;
    padding: .5rem 0 .5rem .5rem ;
    border: 1px solid var(--Light-grey);
    font-weight: 800;
    outline: none;
    cursor: pointer;
}

.dados input::placeholder {
    font-weight: 400i;
    color: var(--Smokey-grey);
    font-size: 1.05rem;
}

input:focus {
    border: 1px solid var(--Purple);
    outline: none;
    cursor: pointer;
}

input:invalid {
    border-color: var(--Light-red);
    box-shadow: 0px 0px 4px var(--Light-red);
}

#error-day, #error-month, #error-year {
    width: 100%;
    font-size: .4rem;
    color: var(--Light-red);
    letter-spacing: normal;
    text-transform: initial;
}

.separator {
    width: 100%;
    height: 60px;
    position: relative;
}

.traco {
    width: 100%;
    border: 1px solid var(--Light-grey);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.botao button {
    width: 3rem;
    background-color: var(--Purple);
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 1rem;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(50%, -50%);
    cursor: pointer;
}

button:active {
    border: none;
    outline: none;
}

.botao button:hover {
    background-color: var(--Off-black);
}

.botao img {
    width: 100%;
}

.age_data {
    color: var(--Purple);
    font-weight: 800;
    font-size: 3rem;
}

.result {
    font-weight: 800;
    font-size: 3.4rem;
}

.error {
    color: var(--Light-red);
}

@media screen and (max-width: 375px) {
    .container {
        width: 90%;
    }

    .info {
        width: 4.2rem;
    }

    .dados input {
        width: 4.2rem;
        padding: .5rem 0 .5rem .5rem ;
        border: 1px solid var(--Light-grey);
        font-weight: 800;
        outline: none;
        cursor: pointer;
    }

    .botao button {
        width: 3rem;
        background-color: var(--Purple);
        border-radius: 50%;
        border: none;
        outline: none;
        padding: 1rem;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        cursor: pointer;
    }

    .result {
        font-weight: 800;
        font-size: 3rem;
    }
}